@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-image: linear-gradient(
      to top right,
      rgba(86, 4, 68, 0.3),
      rgba(0, 0, 0, 0.8)
    ),
    url("/images/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn {
  @apply py-2 flex justify-center items-center   border rounded-full border-white transition-all;
}

.btn-primary {
  @apply py-2 flex justify-center items-center rounded-full bg-bgPrimary text-white transition-all;
}

/* .btn:hover {
  @apply border-bgPrimary bg-white text-bgPrimary;
} */

.btn.scale:hover {
  @apply scale-110;
}
.btn-primary.scale:hover {
  @apply scale-110;
}
