@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #002b36;
}
.btn {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  transition: background-color 200ms ease-in-out;
  display: inline-block;
  text-decoration: none;
}
.btn:hover {
  background-color: #83e5ff;
  color: #002b36;
  border: 1px solid #002b36;
}
